<section class="hero bg-[#eee2e27a]">
  <div class="hero-main-section flex justify-around items-center py-20">
    <div class="hero-left">
      <h6 class="text-lg"><i>Are you hungry</i></h6>
      <h1 class="text-6xl">Don't Wait</h1>
    </div>
    <div class="hero-right">
      <img src="/images/pizza.png" alt="" />
    </div>
  </div>
</section>

<section class="menu py-6">
  <h1 class="text-center text-5xl">All Pizzas</h1>
  <div class="grid lg:grid-cols-4 gap-4 text-center pt-10 md:grid-cols-2">
    <div class="card h-64 flex flex-col gap-4 items-center">
      <img class="w-20" src="/images/pizza.png" alt="" />
      <span><h2>Pizza Name</h2></span>
      <span>Small</span>
      <div>
        <span>₹250</span>
        <span class="bg-[#fc3d03] px-3 py-2 rounded-full ml-3">+ Add</span>
      </div>
    </div>
    <div class="card h-64 flex flex-col gap-4 items-center">
      <img class="w-20" src="/images/pizza.png" alt="" />
      <span><h2>Pizza Name</h2></span>
      <span>Small</span>
      <div>
        <span>₹250</span>
        <span class="bg-[#fc3d03] px-3 py-2 rounded-full ml-3">+ Add</span>
      </div>
    </div>
    <div class="card h-64 flex flex-col gap-4 items-center">
      <img class="w-20" src="/images/pizza.png" alt="" />
      <span><h2>Pizza Name</h2></span>
      <span>Small</span>
      <div>
        <span>₹250</span>
        <span class="bg-[#fc3d03] px-3 py-2 rounded-full ml-3">+ Add</span>
      </div>
    </div>
    <div class="card h-64 flex flex-col gap-4 items-center">
      <img class="w-20" src="/images/pizza.png" alt="" />
      <span><h2>Pizza Name</h2></span>
      <span>Small</span>
      <div>
        <span>₹250</span>
        <span class="bg-[#fc3d03] px-3 py-2 rounded-full ml-3">+ Add</span>
      </div>
    </div>
    <div class="card h-64 flex flex-col gap-4 items-center">
      <img class="w-20" src="/images/pizza.png" alt="" />
      <span><h2>Pizza Name</h2></span>
      <span>Small</span>
      <div>
        <span>₹250</span>
        <span class="bg-[#fc3d03] px-3 py-2 rounded-full ml-3">+ Add</span>
      </div>
    </div>
    <div class="card h-64 flex flex-col gap-4 items-center">
      <img class="w-20" src="/images/pizza.png" alt="" />
      <span><h2>Pizza Name</h2></span>
      <span>Small</span>
      <div>
        <span>₹250</span>
        <span class="bg-[#fc3d03] px-3 py-2 rounded-full ml-3">+ Add</span>
      </div>
    </div>
    <div class="card h-64 flex flex-col gap-4 items-center">
      <img class="w-20" src="/images/pizza.png" alt="" />
      <span><h2>Pizza Name</h2></span>
      <span>Small</span>
      <div>
        <span>₹250</span>
        <span class="bg-[#fc3d03] px-3 py-2 rounded-full ml-3">+ Add</span>
      </div>
    </div>
    <div class="card h-64 flex flex-col gap-4 items-center">
      <img class="w-20" src="/images/pizza.png" alt="" />
      <span><h2>Pizza Name</h2></span>
      <span>Small</span>
      <div>
        <span>₹250</span>
        <span class="bg-[#fc3d03] px-3 py-2 rounded-full ml-3">+ Add</span>
      </div>
    </div>
  </div>
</section>
