<div class="bg-[#eee2e27a] pb-4">
  <div class="w-1/2 mx-auto">
    <div class="flex items-center border-b py-6 border-gray-300">
      <img class="w-10" src="images/shopping-cart.png" alt="" />
      <span>Order Summary</span>
    </div>

    <div class="py-5 flex items-center">
      <img class="w-20 mr-5" src="images/pizza.png" alt="" />
      <div class="flex-1">
        <h1>Pizza Name</h1>
        <span>Pizza Size</span>
      </div>
      <span class="flex-1">1 Pcs</span>
      <span>₹250</span>
    </div>
    <div class="py-5 flex items-center">
      <img class="w-20 mr-5" src="images/pizza.png" alt="" />
      <div class="flex-1">
        <h1>Pizza Name</h1>
        <span>Pizza Size</span>
      </div>
      <span class="flex-1">1 Pcs</span>
      <span>₹250</span>
    </div>
    <div class="py-5 flex items-center">
      <img class="w-20 mr-5" src="images/pizza.png" alt="" />
      <div class="flex-1">
        <h1>Pizza Name</h1>
        <span>Pizza Size</span>
      </div>
      <span class="flex-1">1 Pcs</span>
      <span>₹250</span>
    </div>
    <hr />
    <div class="flex justify-end pt-5 gap-2">
      <span>Total Amount</span>
      <span class="text-[#fc3d03] font-bold">₹250</span>
    </div>
    <div class="text-end">
      <form action="">
        <input
          class="py-2 px-4 border-2 border-gray-500 w-1/2 placeholder-mx-4 placeholder:text-gray-600 mb-4"
          type="text"
          placeholder="Phone No"
        />
        <input
          class="py-2 px-4 border-2 border-gray-500 w-1/2 placeholder-mx-4 placeholder:text-gray-600"
          type="text"
          placeholder="Address"
        />
      </form>
      <button class="bg-[#fc3d03] py-2 px-6 rounded-full mt-5 text-white">
        Order Now
      </button>
    </div>
  </div>
</div>
<!-- <div class="text-center mt-10">
  <h1 class="text-5xl mb-4">Cart Empty</h1>
  <p>
    You probably haven't ordered a pizza yet.To order a pizza.go to the main
    page
  </p>
  <img class="mx-auto mb-5" src="/images/empty-cart.png" alt="" />
  <a class="px-6 py-2 bg-[#fc3d03] rounded-full text-white" href="#">Go back</a>
</div> -->
